<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
		body{
			background-color: #f0f0f0;			
		}
		h1{text-align: center;}
		p{text-align: center;}
	</style>
</head>
<body>
    <h1>Your submission has been sent!</h1>
    <p>Your security key for payment processing is: {{ unique_key }}</p>
    <!-- Other success message or redirection content -->
</body>
</html>
